<div class="pl-48">
  <p>MyPage</p>
  <div class="rounded-lg h-64 overflow-hidden">
    <%= image_tag @user.display_avatar if @user.avatar.attached? %>
  </div>
  <div>
    <%= @user.name %>
  </div>
  <div>
    <%= @user.profile %>
  </div>
  <section class="stats">
    <%= render 'shared/stats' %>
  </section>
  <section>
    <%= render 'follow_form' if user_signed_in? %>
  </section>
</div>

<div class="py-8 px-12 relative bg-gray-100 flex justify-center">
    <% if @user.microposts.any? %>
      <h3>ツイート (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
</div>