<div class="flex justify-center">
<div class="rounded rounded-t-lg overflow-hidden shadow max-w-sm my-2">
  <%= image_tag("sky.jpg") %>
    <div class="flex justify-center -mt-8">
      <%= image_tag @user.display_avatar, class: "rounded-full h-24 w-24 flex" %>
    </div>
  <div class="text-center px-3 pb-6 pt-2">
    <h2 class="text-black text-lg bold font-sans">
      <%= @user.name %>
    </h2>
    <p class="mt-2 font-sans font-light text-grey-dark">
      <%= @user.profile %>
    </p>
  </div>
  <div class="flex justify-center pb-3 text-grey-dark">
    <section class="text-center mr-3 border-r pr-3">
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'follow_form' if user_signed_in? %>
    </section>
  </div>
</div>
</div>

<div class="bg-gray-100 flex justify-center">
  <% if @user.microposts.any? %>
    <h3><%= @user.microposts.count %>ツイート</h3>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
  <% end %>
</div>