<div class="text-center">
  <div class="text-gray-600">
    <div class="container px-5 py-5 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
              <%= image_tag @item.display_item_image, class: "lg:h-48 md:h-36 w-full object-cover object-center" %>
              <div class="p-1">
                <div class="flex justify-end">
                  <h2 class="tracking-normal text-xs title-font font-light text-gray-500 mb-1"><%= @item.item_image_name %></h2>
                </div>
                <h1 class="flex justify-center title-font text-3xl font-medium text-gray-900 mb-3">
                  <%= @item.name %>
                </h1>
                <div class="flex justify-center">
                  <p class="leading-relaxed mb-3 ">
                    <div class="average-score flex">
                      <div class="relative text-2xl">
                        <div class="text-yellow-400 absolute overflow-hidden" style="width: <%= @item.review_score_percentage %>%">
                          ★★★★★
                        </div>
                        <div class="text-gray-400">
                          ★★★★★
                        </div>
                      </div>
                      <div class="average-score-display ml-3 pt-2">
                        <%= @item.avg_score %>点（<%= @item.reviews.count %>件のレビュー）
                      </div>
                    </div>
                  </p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <%= render 'reviews/review_form', review: @review, item: @item %>
  </div>
  <div class="inline-block w-full">
    <% @reviews.each do |review| %>
        <div><%= review.user.name %></div>
        <div><%= review.score %></div>
        <div><%= review.review_content %></div>
    <% end %>
  </div>
</div>