<div class="md:p-1 md:text-left">
<div class="flex flex-col">
  <div class="grid grid-rows-3 grid-flow-col gap-1 py-0">
    <span class="pt-4 md:p-2 row-span-3">
      <%= link_to image_tag(review.user.display_avatar, class: "rounded-full h-24 w-24 object-cover"), review.user %>
    </span>
    <span class="pt-4 col-span-2">
      <div class="float-left font-bold text-xl">
        <%= link_to review.user.name, review.user %>
      </div>
      <div class="float-left pl-20 pt-1">
        <%= time_ago_in_words(review.created_at) %>前
      </div>
    </span>
    <span class="text-lg row-span-2 col-span-2">
      <%= review.review_content %>
    </span>

    <div class="flex justify-center">
      <p class="leading-relaxed mb-3">
        <div class="average-score flex">
          <div class="star-rating relative text-2xl">
            <div class="star-rating-front text-yellow-400 absolute overflow-hidden" style="width: <%= review.review_score %>%">★★★★★</div>
            <div class="star-rating-back text-gray-400">★★★★★</div>
          </div>
        </div>
      </p>
    </div>

    <div>
      <%= image_tag review.item.display_item_image, class: "lg:h-48 md:h-36 w-full object-cover object-center" %>
    </div>
    <div>
      <%= review.item.name %>
    </div>
    <div class="flex justify-center">
              <p class="leading-relaxed mb-3">
                <div class="average-score flex">
                  <div class="star-rating relative text-2xl">
                    <div class="star-rating-front text-yellow-400 absolute overflow-hidden" style="width: <%= review.item.review_score_percentage %>%">★★★★★</div>
                    <div class="star-rating-back text-gray-400">★★★★★</div>
                  </div>
                  <div class="average-score-display pt-2 flex-col">
                    <%= review.item.avg_score %>点 (<%= review.item.reviews.count %>件）
                  </div>
                </div>
              </p>
              </div>

  </div>
  </div>
</div>